* {
  background-color: pink;
  box-sizing: border-box;
}

div.App {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

div.box {
  border: 1px solid white;
  margin-top: 20px;
  padding: 0 10px;
}

hr {
  margin: 20px 0;
}

button {
  margin-right: 20px;
  border: 1px solid white;
  height: 30px;
  width: 80px;
}
